@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Dominio
@model Venta

@{
    ViewData["Title"] = "Paso 4 - Publicar venta";
}

<div class="container mt-5 p-4 rounded shadow" style="background-color: white;">
    <h3>📢 Paso 4 - Publicar venta del tractor</h3>

    <form asp-action="FormularioTractorAltaPublicacionVenta" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Titulo" class="form-label">Título</label>
            <input asp-for="Titulo" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Imagen de la maquinaria</label>
            <input type="file" name="fotoArchivo" class="form-control" accept="image/*" />
        </div>

        <div class="mb-3">
            <label asp-for="PrecioVenta" class="form-label">Precio de Venta</label>
            <input asp-for="PrecioVenta" type="number" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">📤 Publicar</button>
        @if (ViewBag.Exito != null)
        {
            <div class="alert alert-success">@ViewBag.Exito</div>
        }


        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger mt-3">@TempData["Error"]</div>
        }
    </form>
</div>
